.full {
	min-height: 100vh;
}

.middlewrapper {
	height: 100%;
}

.navbar {
	background-color: #182d48 !important;
}

.uk-logo img {
	height: 30px;
}

.white {
	color: white !important;
}

.white:hover {
	text-decoration: none !important;
}

.white-container {
	background-color: white;
}

.divided {
	border-right: 1px solid #e5e5e5;
}

.activeNav {
	border-right: 2px solid black;
	color: black !important;
}

.tile-img {
	background-color: red;
}

.public-nav {
	background-color: white !important;
}

.img-splash {
	height: calc(100vh - 80px);
	width: 100%;
	background-image: url('../images/splash.jpg');
	background-size: cover;
	background-position: right center;
	position: relative;
	background-color: #182d48;
	overflow: hidden;
}

.splash-title {
	position: absolute;
	top: 0;
	height: 80%;
	width: 100vw;
}

.splash-overlay {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 40%;
	background-position: top center;
	background-image: url('../images/splash-overlay.png');
	background-size: cover;
}

.splash-logo {
	height: 100px;
	width: 100px;
	background-image: url('../images/yhlogo.png');
	background-size: cover;
	margin: auto;
}

.learnbtn {
	border: 1px solid #182d48 !important;
	color: #182d48 !important;
	border-radius: 500px;
}

.learnbtn:hover {
	background-color: #182d48 !important;
	color: white !important;
}

#yh-tagline {
	color: white !important;
	line-height: 1.25;
	margin: 1.25rem 0;
}

.navlink {
	height: 1.75rem !important;
	padding: 0 !important;
	margin: 0 1rem !important;
}

nav {
	height: 80px !important;
}

.page-container {
	width: 80vw;
	margin: auto;
}